body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-header > h2 {
  font-size: 2rem !important;
}

.form-group {
  margin-bottom: 1rem !important;
}

.login-buttons > div {
  margin-bottom: 2rem;
}

.login-buttons > div > p {
  text-align: center;
}

.login-buttons > div > button {
  width: 100%;
  border-radius: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.dashboard {
  margin-left: 5%;
  margin-right: 5%;
}

.dashboard-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.dashboard-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-mapping {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem;
}

.single {
  height: 100%;
  margin-right: 15%;
}

.single > img {
  width: 400px;
  height: 400px;
}

.single-info > h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.single-info > p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.single-button > div > button {
  width: 75%;
  border-radius: 0px;
}

.modal-delete-title {
  text-align: center;
  border-bottom: 1px solid black;
}

.modal-top {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.modal-bottom {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.modal-bottom > button {
  width: 100%;
  border-radius: 0px;
  margin-bottom: 1rem;
}

.reg-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-single {
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #d5d0ce;
}

.reg-single-top > h4 {
  text-align: center;
  font-size: 1.5rem;
}

.reg-single-mid > h6 {
  font-size: 1rem;
}

.reg-single-bottom > button {
  width: 50%;
  border-radius: 0px;
  opacity: 0.9;
}

.pending {
  color: blue;
}

.approved {
  color: green;
}

.rejected {
  color: red;
}

@media only screen and (max-width: 896px) {
  body,
  * {
    font-size: 15px;
  }

  .dashboard-mapping {
    display: block;
    margin-left: 25%;
    width: 100%;
  }

  .single{
    margin-bottom: 2.5rem;
  }

  .single>img{
    width: 75%;
    height: 75%;
  }
}

@media only screen and (max-width: 731px) {
  body,
  * {
    font-size: 12px;
  }

  .single{
    margin-bottom: 2.5rem;
  }

  .single>img{
    width: 75%;
    height: 75%;
  }
}

@media only screen and (max-width: 575px) {
  body,
  * {
    font-size: 10px;
  }
}
